/* edit button */
.Btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 40px;
    border: none;
    padding: 0px 20px;
    background-color: rgb(168, 38, 255);
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: .3s;
}

.svg {
    width: 13px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    fill: white;
    transition-duration: .3s;
}

.Btn:hover {
    color: transparent;
    box-shadow: 9px 9px 33px #969696;
    transform: translateY(-2px);
}

.Btn:hover svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
}

.Btn:active {
    transform: translate(3px, 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px #8c20d4;
}


/* delete button */
.Btn-del {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 40px;
    border: none;
    padding: 0px 15px;
    background-color: rgb(44, 43, 43);
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: .3s;
}

.svg-del {
    width: 13px;
    position: absolute;
    right: 0;
    margin-right: 15px;
    fill: white;
    transition-duration: .3s;
}

.Btn-del:hover {
    color: transparent;
    box-shadow: 9px 9px 33px #969696;
    transform: translateY(-2px);
}

.Btn-del:hover .svg-del {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
}

.Btn-del:active {
    transform: translate(3px, 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(0, 0, 0);
}


/* back button */
.back-btn {
    display: flex;
    height: 2em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: #fff;
}

.back-btn>svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

.back-btn:hover>svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

.back-btn:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}