@import "tailwindcss";


@layer components {
  .form-input {
    @apply bg-[#f3f3f34a] placeholder-[#dad7d7] text-gray-500 pb-0 p-2 mb-1 w-full 
           focus:border-indigo-600 focus:border-b-2 focus:outline-none;
  }

  .form-label {
    @apply pr-3 text-sm md:text-base font-medium;
  }

  .error-text {
    @apply text-red-500 text-sm;
  }
}
